<div class="col rounded card p-3 pb-4 justify-content-between" [ngStyle]="{'background-color': bgcolor, 'color': textcolor}">
  <div class="">
    {{title}}
  </div>

  <div class="d-flex">
    <div class="big text-bold me-2">
      {{number}}
    </div>
    <div class="small-icon">
      <fa-icon *ngIf="icon === 'faBullseye'" [icon]='faBullseye' class="icon-bg me-2"></fa-icon>
      <fa-icon *ngIf="icon === 'faPercent'" [icon]='faPercent' class="icon-bg me-2"></fa-icon>
      <fa-icon *ngIf="icon === 'faUser'" [icon]='faUser' class="icon-bg me-2"></fa-icon>
      <fa-icon *ngIf="icon === 'faBuilding'" [icon]='faBuilding' class="icon-bg me-2"></fa-icon>
    </div>
  </div>

</div>
