<div formGroupName="formGroupName" class="row p-0 m-0 mt-3">
  <div class="col-6 p-0 pe-2">
    <input formControlName="markerName" name="markerName" type="text" class="form-control">
  </div>
  <div class="col-2 p-0 pe-2">
    <input formControlName="markerExpectedValue" name="markerExpectedValue" type="integer" class="form-control">
  </div>
  <div class="col-2 p-0 pe-2">
    <input formControlName="markerRealValue" name="markerRealValue" type="integer" class="form-control">
  </div>
  <div class="col-2 p-0">
    <div *ngIf="markerControl.value.markerDone === false" class="btn bg-primary-peg me-2" (click)="confirmMarker(markerControl, markerControlIndex)"><fa-icon [icon]='faCheck' class=""></fa-icon></div>
    <div *ngIf="markerControl.value.markerDone === false" class="btn bg-danger text-white" (click)="deleteMarker(markerControl, markerControlIndex)"><fa-icon [icon]='faTrash' class=""></fa-icon></div>
    <div *ngIf="markerControl.value.markerDone !== false" class="btn bg-secondary-peg" (click)="editMarker(markerControl, markerControlIndex)"><fa-icon [icon]='faPen' class=""></fa-icon></div>
  </div>
</div>