<div class="row no-gutters m-0 h-4 d-flex justify-content-center align-content-center bg-primary-peg">
  <div class="btn bg-dark-transp w-auto h-2 mx-1 d-flex align-items-center justify-content-middle" routerLink="/"><fa-icon [icon]='faHome' class="icon-bg me-2"></fa-icon>Home</div>
  <div class="btn bg-dark-transp w-auto h-2 mx-1 d-flex align-items-center justify-content-middle" routerLink="/peg-new-goal"><fa-icon [icon]='faPlus' class="icon-bg me-2"></fa-icon>Aggiungi</div>
  <div class="btn bg-dark-transp w-auto h-2 mx-1 d-flex align-items-center justify-content-middle" routerLink="/peg-view-reports"><fa-icon [icon]='faBullseye' class="icon-bg me-2"></fa-icon>Visualizza report</div>
</div>