<app-utenti-menu [page]="'home'"></app-utenti-menu>

<div class="container">
  <div class="row w-100">
    <div class="col-12">

      <div class="row pt-5">
        <div class="col-5 big text-bold me-2">
          {{namePA}}
        </div>
        
      </div>

      <div class="row my-5">
        <div class="row my-3 border-bottom border-primary-peg">
          <div class="h2 mb-0 py-2">Distribuzione obbiettivi</div>
        </div>

          
      </div>


      
      <div class="row">
        <div class="col-8">

          <div class="row mt-3 border-bottom border-primary-peg">
            <div class="h2 mb-0 py-2">Uffici - Anno </div>
          </div>

          <div class="row h-1 align-content-center text-muted-peg mt-3 pb-0 small">
            <div class="col-4"></div>
            <div class="col-4 text-center">ordTitle</div>
            <div class="col-4 text-center">extraTitle</div>
          </div>
          <div class="row h-1 align-content-center text-muted-peg small">
            <div class="col-4">Ufficio</div>
            <div class="col-1 text-center">Num</div>
            <div class="col text-center">% 30/06</div>
            <div class="col text-center">% 31/12</div>
            <div class="col-1 text-center">Num</div>
            <div class="col text-center">% 30/06</div>
            <div class="col text-center">% 31/12</div>
          </div>



        </div>

        <div class="col-4 px-3">
          <div class="row m-3 mb-4 border-bottom border-primary-peg">
            <div class="h2 mb-0 py-2">Medie</div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
