<div class="col rounded card p-4 justify-content-between" [ngStyle]="{'background-color': bgcolor, 'color': textcolor}">
    
  <div class="col-8">

    <div class="h3 mb-0 pb-0">
      {{miniPersonReport.name}}
    </div>
    <div class="h3 mb-3">
      {{miniPersonReport.surname}}
    </div>

    <div class="row">
      <div class="col-6">
  
        <div class="card-titles text-muted">{{ordinaryTitle}}</div>
        <div class="mb-3">{{miniPersonReport.ordinary_count}}</div>
  
        <div class="card-titles text-muted">% al 30/12</div>
        <div class="" [ngClass]="{'text-success' : miniPersonReport.percent_ordinary === 100, 'text-danger' : miniPersonReport.percent_ordinary <= 60}">{{miniPersonReport.percent_ordinary  | number: '1.1-1'}} %</div>
  
      </div>
      <div class="col-6">
        <div class="card-titles text-muted">{{extraordinaryTitle}}</div>
        <div class="mb-3">{{miniPersonReport.extraordinary_count}}</div>
      
        <div class="card-titles text-muted">% al 30/12</div>
        <div class="" [ngClass]="{'text-success' : miniPersonReport.percent_extraordinary === 100, 'text-danger' : miniPersonReport.percent_extraordinary <= 60}">{{miniPersonReport.percent_extraordinary | number: '1.1-1'}} %</div>
      </div>
    </div>

  </div>
  <div class="col-12">
    <div style="display: block;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [type]="barChartType">
      </canvas>
    </div>
  </div>

 <!--  <div class="row">
    <div class="col-4">

      <div class="card-titles text-muted">{{ordinaryTitle}}</div>
      <div class="">{{miniPersonReport.ordinary_count}}</div>

      <div class="card-titles text-muted">% al 30/12</div>
      <div class="" [ngClass]="{'text-success' : miniPersonReport.percent_ordinary === 100, 'text-danger' : miniPersonReport.percent_ordinary <= 60}">{{miniPersonReport.percent_ordinary  | number: '1.1-1'}} %</div>

    </div>
    <div class="col-4">
      <div class="card-titles text-muted">{{extraordinaryTitle}}</div>
      <div class="">{{miniPersonReport.extraordinary_count}}</div>
    
      <div class="card-titles text-muted">% al 30/12</div>
      <div class="" [ngClass]="{'text-success' : miniPersonReport.percent_extraordinary === 100, 'text-danger' : miniPersonReport.percent_extraordinary <= 60}">{{miniPersonReport.percent_extraordinary | number: '1.1-1'}} %</div>
    </div>
  </div> -->

 <!--  <div class="row">
    <canvas *ngIf="totalShowChart === true" baseChart [datasets]="totalChartData" [options]="doughnutChartOptions" [type]="'doughnut'"></canvas>
  </div> -->

</div>
