<app-peg-menu></app-peg-menu>

<div class="container">
  <div class="row w-100">
    <div class="col-12">

      <div class="row py-5">
        <div class="col-4">
          <div class="row border-bottom border-primary-peg mb-3 pb-2 h4">{{year}} - PO: {{selectedManager.name}} {{selectedManager.surname}}</div>
          <div class="row big text-bold me-2">{{selectedOffice.name}}</div>
        </div>
        <div class="col-2 d-flex flex-column justify-content-end">
          <!-- <div class="btn border border-primary-peg text-primary-peg" (click)="this.bsModalService.show(officeModal)">Scegli ></div> -->
          <div class="btn border border-primary-peg text-primary-peg" (click)="openModal(officeModal)">Scegli ></div>
        </div>
        <div class="col">
          <app-peg-card title="Personale coinvolto" [number]="100" icon="faUser" [bgcolor]="white1" [textcolor]="dark"></app-peg-card>
        </div>
        <div class="col">
          <app-peg-card title="Obbiettivi ordinari" [number]="100" icon="faBullseye" [bgcolor]="white" [textcolor]="dark"></app-peg-card>
        </div>
        <div class="col">
          <app-peg-card title="Obbiettivi straordinari" [number]="100" icon="faBullseye" [bgcolor]="white" [textcolor]="dark"></app-peg-card>
        </div>
      </div>

      <div class="">
        <div class="row border-bottom border-primary-peg mb-3 pb-2 h4 text-light">{{extraordinaryTitle}}</div>
        <div class="row header small text-muted">
          <div class="col-5">Nome</div>
          <div class="col-1 text-center">Valore pt</div>
          <div class="col-2 text-center">Realizzazione %</div>
          <div class="col-2 text-center">Punti raggiunti</div>
        </div>
        <div class="row header small text-muted">
          <div class="col-5"></div>
          <div class="col-1 text-center">[1..100]</div>
          <div class="col-1 text-center">al 30/06</div>
          <div class="col-1 text-center">al 31/12</div>
          <div class="col-1 text-center">al 30/06</div>
          <div class="col-1 text-center">al 31/12</div>
        </div>

        <app-peg-goal *ngFor="let goal of extraordinaryGoalList; index as i" [inputGoal]="goal" [typeInput]="'extraordinary'" (goalUpdated)="updateExtraGoal($event, i)" (sliceElement)="deleteExtraGoal($event, i)" ></app-peg-goal>

        <div class="row border-top border-muted-peg pt-2 text-muted">
          <div class="col-5"></div>
          <div class="col-1 text-center">{{extraordinaryTotals[0]}}</div>
          <div class="col-1 text-center"></div>
          <div class="col-1 text-center"></div>
          <div class="col-1 text-center">{{extraordinaryTotals[1]}}</div>
          <div class="col-1 text-center">{{extraordinaryTotals[2]}}</div>
        </div>

        <div class="d-flex justify-content-end mt-3">
          <div class="btn border border-primary-peg text-primary-peg" (click)="addExtraGoal()"><fa-icon [icon]='faPlus' class="m-0"></fa-icon>Aggiungi obbiettivo</div>
        </div>
      </div>

      <div class="mt-5">
        <div class="row border-bottom border-primary-peg mb-3 pb-2 h4 text-light">{{ordinaryTitle}}</div>
        <div class="row header small text-muted">
          <div class="col-5">Nome</div>
          <div class="col-1 text-center">Valore pt</div>
          <div class="col-2 text-center">Realizzazione %</div>
          <div class="col-2 text-center">Punti raggiunti</div>
        </div>
        <div class="row header small text-muted">
          <div class="col-5"></div>
          <div class="col-1 text-center">[1..100]</div>
          <div class="col-1 text-center">al 30/06</div>
          <div class="col-1 text-center">al 31/12</div>
          <div class="col-1 text-center">al 30/06</div>
          <div class="col-1 text-center">al 31/12</div>
        </div>

        <app-peg-goal *ngFor="let goal of ordinaryGoalList; index as i" [inputGoal]="goal" [typeInput]="'ordinary'" (goalUpdated)="updateOrdGoal($event, i)" (sliceElement)="deleteOrdGoal($event, i)"></app-peg-goal>

        <div class="row border-top border-muted-peg pt-2 text-muted">
          <div class="col-5"></div>
          <div class="col-1 text-center">{{ordinaryTotals[0]}}</div>
          <div class="col-1 text-center"></div>
          <div class="col-1 text-center"></div>
          <div class="col-1 text-center">{{ordinaryTotals[1]}}</div>
          <div class="col-1 text-center">{{ordinaryTotals[2]}}</div>
        </div>

        <div class="d-flex justify-content-end mt-3">
          <div class="btn border border-primary-peg text-primary-peg" (click)="addOrdGoal()"><fa-icon [icon]='faPlus' class="m-0"></fa-icon> Aggiungi obbiettivo</div>
  
        </div>
      </div>
      
      <div class="my-3">
        <div class="btn bg-primary-peg" (click)="saveGoals()"><fa-icon [icon]='faFloppyDisk' class="m-0"></fa-icon> Salva</div>
      </div>


      <!--       <div class="row mt-3 border-bottom border-primary-peg">
        <div class="col-3 h6 mb-0 py-2" [ngClass]="{'bg-primary-peg text-dark' : extraordinary === true}"
          (click)="extraordinary = true">{{extraordinaryTitle}}</div>
        <div class="col-3 h6 mb-0 py-2" [ngClass]="{'bg-primary-peg text-dark' : extraordinary === false}"
          (click)="extraordinary = false">{{ordinaryTitle}}</div>
      </div> -->

      <!-- <div *ngIf="extraordinary === true" class="tab">
        <app-peg-goal-tab [title]="extraordinaryTitle" [type]="'extraordinary'"></app-peg-goal-tab>
      </div>

      <div *ngIf="extraordinary === false" class="tab">
        <app-peg-goal-tab [title]="ordinaryTitle" [type]="'ordinary'"></app-peg-goal-tab>
      </div> -->

    </div>
  </div>
</div>



<ng-template #officeModal>
  <div class="modal-body bg-dark px-5">

    <div class="row flex-column justify-content-between py-4">
      <label class="h4 pb-1">Anno</label>
      <input placeholder="anno" id="" type="text" class="col-4 form-control w-6 text-center border-bottom border-primary-peg me-3" [(ngModel)]="year">
    </div>
    <label class="h4 pt-4">Uffici</label>
    <div *ngFor="let office of officeList$" class="border-bottom border-muted-peg py-1 mb-1">
      <div class="w-100 d-flex justify-content-between align-items-center" (click)="selectOffice(office)">
        <span class=""> {{office.name}}</span>
      </div>
    </div>

    <div class="row justify-content-center px-5 pt-4">
      <div class="w-auto btn bg-secondary-peg" (click)="bsModalService.hide()">Chiudi</div>
    </div>
  </div>
</ng-template>
