<app-peg-menu [page]="'home'"></app-peg-menu>

<div class="container">
  <div class="row w-100">
    <div class="col-12">

      <div class="row pt-5">
        <div class="col-4 big text-bold me-2">
          Magnifica comunitá di montagna
        </div>
        <div class="col">
          <app-peg-card title="Personale coinvolto" [number]="100" icon="faUser" [bgcolor]="white" [textcolor]="dark"></app-peg-card>
        </div>
        <div class="col">
          <app-peg-card title="{{ordTitle}}" [number]="ordSum" icon="faBullseye" [bgcolor]="white" [textcolor]="dark"></app-peg-card>
        </div>
        <div class="col">
          <app-peg-card title="{{extraTitle}}" [number]="extraSum" icon="faBullseye" [bgcolor]="white" [textcolor]="dark"></app-peg-card>
        </div>
        <div class="col">
          <app-peg-card title="Realizzazione al 31/12" [number]="percent" icon="faPercent" [bgcolor]="primarypeg" [textcolor]="dark"></app-peg-card>
        </div>
      </div>

      <div class="row my-5">
          <div *ngIf="showBarChart === true" class="d-block h-12 w-100">
            <canvas baseChart class="chart" 
              [data]="barChartData"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [type]="barChartType">
            </canvas>
        </div>
      </div>


      
      <div class="row">
        <div class="col-8">

          <div class="row mt-3 border-bottom border-primary-peg">
            <div class="h4 mb-0 py-2">{{namePA}} - Anno {{year}}</div>
          </div>

          <div class="row h-1 align-content-center text-muted-peg mt-3 small">
            <div class="col-8">Ufficio</div>
            <div class="col-2">Ordinari</div>
            <div class="col-2">Straordinari</div>
          </div>

          <div *ngFor="let office of officeGoals" class="row h-3 align-content-center border-bottom border-muted-peg">
            <div class="col-8 ">{{office.name}}</div>
            <div class="col-2">{{office.ordinary}}</div>
            <div class="col-2">{{office.extraordinary}}</div>
          </div>

        </div>

        <div class="col-4 h-5">
          <app-peg-card title="Media obbiettivi assegnati" [number]="avgGoal" icon="faUser" [bgcolor]="white2" [textcolor]="dark"></app-peg-card>
        </div>


      </div>
    </div>
  </div>
</div>
