<div class="row border-bottom-muted">

    <div class="row m-0 border-bottom border-muted-peg small pb-1">
        <div class="col-5 m-0 p-0">
            <p class="mb-0 pb-0">Nome</p>
        </div>
        <div class="col-1">
            <p class="mb-0 pb-0">Peso</p>
        </div>
        <div class="col-1">
            <p class="mb-0 pb-0">% 30/06</p>
        </div>
        <div class="col-1">
            <p class="mb-0 pb-0">Peso</p>
        </div>
        <div class="col-1">
            <p class="mb-0 pb-0">% 31/12</p>
        </div>
        <div class="col-1">
            <p class="mb-0 pb-0">Peso</p>
        </div>
    </div>

    <div class="row m-0 my-2">
        <div class="col-5 m-0 p-0">
            <input id="weight" type="number" class="w-100 form-control" [(ngModel)]="goal.name">
        </div>
        <div class="col-1">
            <input id="weight" type="number" class="form-control" [(ngModel)]="goal.weight">
        </div>
        <div class="col-1">
            <input id="weight" type="number" class="form-control" [(ngModel)]="goal.completation3006">
        </div>
        <div class="col-1">
            <input id="weight" type="number" class="form-control" [(ngModel)]="goal.completation3006">
        </div>
        <div class="col-1">
            <input id="weight" type="number" class="form-control" [(ngModel)]="goal.completation3006">
        </div>
        <div class="col-1">
            <input id="weight" type="number" class="form-control" [(ngModel)]="goal.completation3006">
        </div>
        <div class="col-2 d-flex justify-content-end">
            <div class="btn bg-primary-peg me-3" (click)="openModalPeople(peopleModal)"><fa-icon [icon]='faUserPlus' class="m-0"></fa-icon></div>
            <div class="btn bg-danger" (click)="openModalDelete()"><fa-icon [icon]='faTrash' class="m-0"></fa-icon></div>
        </div>
    </div>

    <div class="row d-flex m-0 px-0 py-2 my-2">
        <span>Persone coinvolte: </span>
        <span class="d-flex w-auto" *ngFor="let person of this.involved">{{person.name}}
            {{person.surname}}
            <div class="circle small-circle bg-secondary-peg text-white mx-1 me-2"
                (click)="removeInvolvedPeople(person)"><fa-icon [icon]='faMinus' class="m-0"></fa-icon>
            </div>
        </span>
    </div>



    <!-- <div class="col-11 border-bootom border-muted">

        <div class="row m-0">
            <div class="col-2">
                <p class="mb-0 pb-0">Nome</p>
            </div>
            <div class="col-10">
                <input id="name" type="text" class="form-control" [(ngModel)]="goal.name">
            </div>
        </div>

        <div class="row m-0 mt-2">
            <div class="col-2">
                <p class="mb-0 pb-0">Responsabile</p>
            </div>
            <div class="col-4">
                <select *ngIf="this.responsables" [(ngModel)]="goal.responsable" name="responsable"
                    class="form-control text-white">
                    <option *ngFor="let r of this.responsables" value="r.id">{{r.name}} {{r.surname}}</option>
                </select>
            </div>

            <div class="col-2">
                <p class="mb-0 pb-0">Ufficio</p>
            </div>
            <div class="col-4">
                <select *ngIf="this.responsables" [(ngModel)]="goal.responsable" name="responsable"
                    class="form-control text-white">
                    <option *ngFor="let r of this.responsables" value="r.id">{{r.name}} {{r.surname}}</option>
                </select>
            </div>
        </div>

        <div class="row m-0 mt-2">
            <div class="col-2">
                <p class="mb-0 pb-0">Persone coinvolte</p>
            </div>
            <div class="col-7">
                <div class="row m-0 px-0 d-flex">
                    <span class="d-flex w-auto" *ngFor="let person of this.involved">{{person.name}}
                        {{person.surname}}
                        <div class="circle border border-secondary-peg text-secondary-peg mx-1 me-2"
                            (click)="removeInvolvedPeople(person)"><fa-icon [icon]='faMinus' class="m-0"></fa-icon>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-between">
                <input #searchInput placeholder="cerca persone" id="" type="text" class="w-100 form-control me-3 bg-none" (focus)="focus()"
                (input)="onSearchPAUser($event)">
                <div class="text-primary-peg mt-2"><fa-icon [icon]='faSearch' class="m-0"></fa-icon></div>
            </div>
            <div *ngIf="this.searching === true" [ngClass]="{'py-2': this.searching}"  class="search-results rounded px-3 mt-2">
                <div *ngFor="let person of filteredPAUserList" class="d-flex justify-content-between align-items-center border-bottom border-muted py-1 mb-1" (click)="addInvolvedPeople(person)">
                  <span class=""> {{person.name}} {{person.surname}}</span>
                  <div class="text-primary-peg"><fa-icon [icon]='faPlus' class="m-0"></fa-icon></div>
                </div>
              </div>
        </div>

    </div>

    <div class="col-1 justify-content-center align-items-center m-auto">
        <p class="m-0 p-0">Peso</p>
        <input id="weight" type="number" class="form-control">
    </div> -->

</div>




<ng-template #peopleModal>
    <div class="modal-body bg-dark px-5">

        <div class="d-flex justify-content-between py-4">
            <input placeholder="cerca persone" id="" type="text" class="w-100 form-control me-3 bg-none"
                (focus)="focus()" (input)="onSearchPAUser($event)" [(ngModel)]="this.searchInput">
            <div class="text-primary-peg mt-2"><fa-icon [icon]='faSearch' class="m-0"></fa-icon></div>
        </div>
        <div *ngFor="let person of filteredPAUserList"
            class="border-bottom border-muted-peg py-1 mb-1">
            <div *ngIf="!person.added" class="w-100 d-flex justify-content-between align-items-center" (click)="addInvolvedPeople(person)">
                <span class=""> {{person.name}} {{person.surname}}</span>
                <div class="text-primary-peg"><fa-icon [icon]='faPlus' class="m-0"></fa-icon></div>
            </div>
            <div *ngIf="person.added" class="w-100 d-flex justify-content-between align-items-center bg-secondary-peg" (click)="removeInvolvedPeople(person)">
                <span class=""> {{person.name}} {{person.surname}}</span>
                <div class=""><fa-icon [icon]='faMinus' class="m-0"></fa-icon></div>
            </div>
        </div>

        <!-- <div *ngFor="let person of filteredPAUserList"
            class="d-flex justify-content-between align-items-center border-bottom border-muted py-1 mb-1"
            (click)="addInvolvedPeople(person)">
            <span class=""> {{person.name}} {{person.surname}}</span>
            <div class="text-primary-peg"><fa-icon [icon]='faPlus' class="m-0"></fa-icon></div>
        </div>
 -->
        <div class="row justify-content-center px-5 pt-4">
            <div class="w-auto btn bg-secondary-peg" (click)="modalRef?.hide()">Chiudi</div>
        </div>
    </div>
</ng-template>