<div class="row no-gutters m-0 h-4 align-content-center border-bottom border-muted-aa">
    <div class="col-2">{{access.requestProtocol}} del {{access.requestDate | date:'dd/MM/yyyy'}}</div>
    <!-- <div class="col-1">{{access.accessType}}</div> -->
    <div class="col-5">{{access.topic}}</div>
    <div class="col-1">{{access.answerResult}}</div>
    <div class="col-2">{{access.answerProtocol}} del {{access.answerDate}}</div>
    <div class="col-2 d-flex justify-content-between align-content-center" (click)="toogle()">
        <div class="" (click)="toogle()"> Dettagli</div>
        <div class="btn bg-primary-aa h-25" (click)="toogle()"><fa-icon [icon]='faPen' class="icon-bg"></fa-icon></div>
    </div>
</div>