<div class="container">
  <div class="row w-100">
    <div class="col-12">

      <form [formGroup]="accessForm" (ngSubmit)="submit()" class="">

        <div class="row m-0">
          <h2>Domanda</h2>
        </div>

        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Protocollo</label>
          </div>
          <div class="col-2">
            <input formControlName="requestProtocol" id="name" type="number" class="col-8 form-control">
          </div>
          <div class="col-4">
            <input formControlName="requestDate" id="name" type="date" class="col-8 form-control">
          </div>
        </div>

        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Richiedente</label>
          </div>
          <div class="col-2">
            <select class="">
              <option *ngFor="let applicant of this.applicants; index as i" value="i">{{applicant}}</option>
            </select>
          </div>
        </div>


        <div class="row m-0 mt-3">
          <div class="col-2">
            <label for="description" class="border-muted-right h5">Descrizione</label>
          </div>
          <div class="col-8">
            <textarea formControlName="description" id="description" type="textarea" rows="4"
              class="col-10 form-control"></textarea>
          </div>
          <div class="col-2"></div>
        </div>

        


        






        <div class="row m-0 mt-3">
          <div class="col-2">
          </div>
        </div>
        <div class="col-10 d-flex"></div>




        <button value="Submit" (click)="submit()">Submit</button>

      </form>

    </div>
  </div>
</div>