<app-aa-menu></app-aa-menu>

<div class="container">
  <div class="row w-100">
    <div class="col-12">

      <form [formGroup]="accessForm" class="">

        <div class="row m-0">
          <h2 class="border-bottom border-primary-aa">Domanda</h2>
        </div>

        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Protocollo</label>
          </div>
          <div class="col-2">
            <input formControlName="requestProtocol" id="requestProtocol" type="number" class="col-8 form-control">
          </div>
          <div class="col-4">
            <input formControlName="requestDate" id="requestDate" type="date" class="col-8 form-control">
          </div>
        </div>

        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Richiedente</label>
          </div>
          <div class="col-2">
            <select class="" formControlName="requestApplicant">
              <option *ngFor="let applicant of this.applicants; index as i" [ngValue]="applicant">{{applicant}}</option>
            </select>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Tipo</label>
          </div>
          <div class="col-2">
            <select class="" formControlName="accessType">
              <option *ngFor="let type of this.types; index as i" [ngValue]="type">{{type}}</option>
            </select>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Oggetto</label>
          </div>
          <div class="col-8">
            <textarea formControlName="topic" id="topic" type="textarea" rows="4"
              class="col-10 form-control"></textarea>
          </div>
        </div>

        <div class="row m-0">
          <h2 class="border-bottom border-primary-aa">Risposta</h2>
        </div>



        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Protocollo</label>
          </div>
          <div class="col-2">
            <input formControlName="answerProtocol" id="answerProtocol" type="number" class="col-8 form-control">
          </div>
          <div class="col-4">
            <input formControlName="answerDate" id="answerDate" type="date" class="col-8 form-control">
          </div>
        </div>

        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Responsabile</label>
          </div>
          <div class="col-4">
            <input formControlName="manager" id="manager" type="text" class="col-8 form-control">
          </div>
        </div>

        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Controinteressati</label>
          </div>
          <div class="col-4">
            <input formControlName="others" id="others" type="text" class="col-8 form-control">
          </div>
        </div>

        <div class="row m-0">
          <div class="col-2">
            <label for="name" class="col-2 mt-2 h5">Esito</label>
          </div>
          <div class="col-2">
            <select class="" formControlName="answerResult">
              <option *ngFor="let result of this.results; index as i" [ngValue]="result">{{result}}</option>
            </select>
          </div>
          <!-- <div class="col-4 d-flex">
            <label for="answerProtocol" class="col-4 mt-2">Protocollo n</label>
            <input formControlName="answerProtocol" id="answerProtocol" type="number" class="form-control">
          </div>
          <div class="col-4 d-flex"> 
            <label for="answerDate" class="col-2 mt-2">del</label>
            <input formControlName="answerDate" id="answerDate" type="date" class="form-control">
          </div> -->
        </div>



        <div class="row m-0 mt-3">
          <div class="col-2">
            <label for="description" class="border-muted-right h5">Note</label>
          </div>
          <div class="col-8">
            <textarea formControlName="answerNote" id="answerNote" type="textarea" rows="4"
              class="col-10 form-control"></textarea>
          </div>
          <div class="col-2"></div>
        </div>












        <div class="row m-0 mt-3">
          <div class="col-2">
          </div>
        </div>
        <div class="col-10 d-flex"></div>



        <div class="row justify-content-end">
          <button class="w-auto h-2 rounded border-0 bg-primary-aa mx-2" value="Submit" (click)="submit()">Aggiungi</button>
        </div>

      </form>

    </div>
  </div>
</div>