// Required
@import ~bootstrap/dist/css/bootstrap.css
@import "../node_modules/bootstrap/scss/functions"  
@import "../node_modules/bootstrap/scss/variables"
//@import "../node_modules/bootstrap/scss/maps"
@import "../node_modules/bootstrap/scss/mixins"
//@import "../node_modules/bootstrap/scss/utilities"
//@import "../node_modules/bootstrap/scss/helpers"
//@import "../node_modules/bootstrap/scss/utilities/api"

// Create your own colors and map

$light: #F8F9FA  
$muted: #e9ecef
//$dark: #1e1e25
$dark: #22252f
$darker: #16171e
$bg-color: $dark
$txt-color: $light
//$txt-color: #5c6b85

$custom-colors: ("users": #d63384, "peg": #fecf6c, "peg-secondary": #6CA6C1,"dark":#1e1e25, 'success': rgb(139, 195, 74))
$theme-colors: map-merge($theme-colors, $custom-colors)


/* PALETTE FOR ...... */
$bright-pink-crayola: #ff6978ff
$baby-powder: #fffcf9ff
$celeste: #b1ede8ff
$eggplant: #6d435aff
$raisin-black: #352d39ff


@import "../node_modules/bootstrap/scss/bootstrap"

body
  background-color: $dark
  color: $txt-color
input
  background-color: $darker !important
  border-color: $darker !important
  color: $txt-color !important
  
.container
  height: 90vh
  width: 1250px !important
  display: flex

.alert-small
  font-size: 0.7rem
  height: 1.5rem
  display: flex
  align-items: center
  justify-content: center
.no-hover
  hover:none
  cursor: none
.circle
  width:1.5rem
  height:1.5rem
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  padding-left: 0.1rem
.cursor
  :hover
    cursor: pointer

.big
  font-size: 4rem
  line-height: 0.7
/* .bg-card
  background-color: #00000038 */
.bg-card
  //background-color: #2b2e3b
  background-color: #fff
  box-shadow: 0 .5rem 1rem rgba($black, .15)

.tag
